@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

nav {
    border: 1px solid black;
    .main-icon {
        color: white;
    }
}

#logout-button {
    border: 1px solid black;
}

#show-add-board-form-button {
    color: white;
    border: 1px solid black;
}

.disappear {
    display: none;
}