.single-pin-container {
    margin: 10px 0;
    .delete-pin {
        position: absolute;
        border: 1px solid white;
    }
    .edit-pin {
        position: absolute;
        border: 1px solid white;
        left: 230px;
    };
    .pin-image {
        border: 2px solid white;
        width: 250px;
        height: 200px;
    }
}