.single-pin-container {
    margin: 10px 0;
    .image-overlay {
        position: absolute;
    }
    .pin-button {
        border: 1px solid white;
    }
    .pin-image {
        border: 2px solid white;
    }
    .my-dropdown {
        width: auto;
    }
}