#single-board-header {
    border-bottom: 1px solid black;
    width: 97%;
    margin: 5px auto;
}

#close-single-view-button {
    position: absolute;
    left: 27px;
}

#add-pin-button {
    position: absolute;
    right: 27px;
}

#pin-container {
    border: 2px solid black;
}