#single-board-header {
    border-bottom: 1px solid black;
    width: 78%;
    margin: 5px auto;
}

#close-single-view-button {
    position: relative;
}

#add-pin-button {
    position: relative;
}

#pin-container {
    border: 2px solid black;
}